{
    "extends": "airbnb",
    "parser": "babel-eslint",
    "rules": {
        "react/jsx-filename-extension": 0,
        "jsx-a11y/anchor-is-valid": 0,
        "react/forbid-prop-types": 0,
        "jsx-a11y/label-has-for": 0,
        "react/require-default-props": 0,
        "jsx-a11y/interactive-supports-focus": 0,
        "jsx-a11y/click-events-have-key-events": 0
    }
}